/* .container{
    padding:10px;
    border:0px;
    margin:0px 50px;
    font-size:22px;
.}
.container{
    display:inline-block;
}
img{
    display: none;
}
.container:hover~img{
    width:150px;
    height:150px;
    display:block;
} */
/* #btn1,#btn2,#btn3,#btn4{
    padding:10px;
    border: 0;
    font-size:22px;
} */
img{
    display: none;
}
.container>#btn1:hover~.img1{
    display: block;
}
#btn2:hover~.img2{
    display:block;
}
#btn3:hover~img3{
    display:block;
}
#btn4:hover~img4{
    display:block;
}